<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2013 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.glass.TMM"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="your tests label"
        android:targetPackage="com.google.android.glass.TMM" />

  
    
    <application
        android:name=".TellMeMoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_tell_me_more"
        android:label="@string/app_name" >
        <receiver android:name=".autostart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.google.android.glass.TMM.VideoPlayer"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme" >

            <!--
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.google.android.glass.TMM.StartMenuActivity"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme" >
        </activity>
        <activity
            android:name="com.google.android.glass.TMM.AudioMenu"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme" >
        </activity>
        <activity
            android:name="com.google.android.glass.TMM.SelectCardActivity"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme" >
        </activity>
        <activity
            android:name="com.google.android.glass.TMM.ScanActivity"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_start" />
        </activity>
        <activity
            android:name="com.google.android.glass.TMM.AudioPlayer"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme" >
        </activity>
        <activity
            android:name="com.google.android.glass.TMM.TextViewer"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme" >
        </activity>
        <activity
            android:name="com.google.android.glass.TMM.TextMenu"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme" >
        </activity>

        <service
            android:name="com.google.android.glass.TMM.TextViewerSupportService"
            android:enabled="true"
            android:label="@string/app_name" >
        </service>
        
        <service
            android:name="com.google.android.glass.TMM.CardLoaderService"
            android:enabled="true"
            android:label="@string/app_name" >
        </service>
        
        <service
            android:name="com.google.android.glass.TMM.TMMService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_tell_me_more"
            android:label="@string/app_name" >
            

            
        </service>
    </application>

</manifest>